﻿@model SportsStore.WebUI.Models.NavViewModel

<div data-role="navbar">
    <ul>
        @foreach (string link in Model.Categories)
        {
            <li>
                @Html.RouteLink(link, new
               {
                   controller = "Product",
                   action = "List",
                   category = link,
                   page = 1
               }, new
               {
                   data_transition = "fade",
                   @class = (link == ViewBag.SelectedCategory
                   ? "ui-btn-active" : null)
               })
            </li>
        }
    </ul>
</div>