﻿@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/ErrorStyles")
</head>
<body>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/jQuery")
    @Scripts.Render("~/Scripts/jQueryValidation")
</body>
</html>
