﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/Site")
    @Styles.Render("~/Content/ErrorStyles")
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="/">
            <span class="hidden-xs">SPORTS STORE</span>
            <div class="visible-xs">SPORTS</div>
            <div class="visible-xs">STORE</div>
        </a>
        @Html.Action("Summary", "Cart")
    </div>
    <div class="container-fluid">
        <div class="row panel">
            <div id="categories" class="visible-xs">
                @Html.Action("Menu", "Nav", new { horizontalLayout = true })
            </div>
            <div id="categories" class="col-xs-3 hidden-xs">
                @Html.Action("Menu", "Nav", new { horizontalLayout = false })
            </div>
            <div class="col-xs-12 col-sm-8">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/jQuery")
    @Scripts.Render("~/Scripts/Bootstrap")
</body>
</html>