﻿@model SportsStore.Domain.Entities.Product

@{
    ViewBag.Title = "Admin: Delete " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Delete @Model.Name</h3>
    </div>
    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ProductId)
            <h4>
                Are you sure you want to delete @Model.Name ?
            </h4>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Confirm Delete" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "Index", null,
                new
                {
                    @class = "btn btn-default"
                })
        </div>
    }
</div>
