﻿@using SportsStore.Domain.Entities
@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>List</h2>

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, i => Url.Action("List", new { page = i, category = Model.CurrentCategory }))
</div>
<br/><br/>
@foreach (Product product in Model.Products)
{
    @Html.Partial("ProductSummary", product)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, i => Url.Action("List", new { page = i, category = Model.CurrentCategory }))
</div>