﻿@errorColor: #f00;

.field-validation-error {
    color: @errorColor;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid @errorColor;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: @errorColor;
}

.validation-summary-valid {
    display: none;
}
